.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 7.5% 32px 7.5%;
}

.usuario-container {
  display: flex;
  gap: 11.67px;
}

.return-arrow {
  cursor: pointer;
}
