<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Seja bem-vindo</title>
  </head>
  <body style="margin: 0; padding: 0">
    <table style="width: 100%; background: rgba(230, 230, 230, 0.562)">
      <tr>
        <td align="center">
          <table
            style="
              width: 80%;
              border-radius: 5px;
              text-align: center;
              background: #fff;
              margin: 20px;
            "
          >
            <tr>
              <td align="center" style="padding-top: 30px">
                <img
                  src="https://f005.backblazeb2.com/file/market-cubos/market-cubos-logo.png"
                  alt="Logo do Market Cubos"
                />
              </td>
            </tr>
            <tr>
              <td style="padding: 30px">
                <table style="width: 100%">
                  <tr>
                    <td align="center">
                      <h1
                        style="
                          font-size: 24px;
                          margin-bottom: 20px;
                          font-family: Calibri;
                        "
                      >
                        {{storeName}},
                      </h1>
                      <p
                        style="
                          margin-bottom: 40px;
                          font-size: 18px;
                          font-family: Calibri;
                        "
                      >
                        Seja muito bem-vindo(a) à Market Cubos!
                      </p>
                      <p style="font-family: Calibri; font-size: 18px">
                        Seu cadastro foi realizado com sucesso e você já pode
                        começar a vender conosco! <br /><br />
                        Nossa plataforma pode ser acessada pelo botão abaixo:
                      </p>
                      <br />
                      <a
                        href="https://front-integral-m05-desafio-individual-t08-sigma.vercel.app"
                        style="
                          display: block;
                          text-decoration: none;
                          width: fit-content;
                          height: fit-content;
                          margin-top: 20px;
                          background-color: #b7005c;
                          border-radius: 5px;
                          padding: 10px 40px;
                          font-family: Calibri;
                          cursor: pointer;
                          color: #fff;
                          font-size: 16px;
                        "
                        >Market Cubos</a
                      >
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
